.opener2 {
  background: linear-gradient(to bottom, #ff00e1 0%,#c100f2 100%);
  animation: scaleGradient2 4s ease;
}

@keyframes scaleGradient2 {
  0% {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  15% {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  90% {
    width: 3vw;
    height: 4vw;
    left: 38vw;
    top: 93vh;
  }
  100% {
    width: 3vw;
    height: 4vw;
    left: 38vw;
    top: 93vh;
  }
}

#opener2Text {
  color: #00FF00;
  animation: scaleText2 3s ease;
  left: 39vw;
}

@keyframes scaleText2 {
  0% {
    top: 2vh;
    left: 40vw;
    font-size: 90vh;
  }
  15% {
    top: 2vh;
    left: 40vw;
    font-size: 90vh;
  }
  90% {
    left: 39vw;
    top: 95vh;
    font-size: 3vh;
  }
  100% {
    left: 39vw;
    top: 95vh;
    font-size: 3vh;
  }
}
