.opener4 {
  background: -webkit-linear-gradient(top, #00f6ff 0%,#19ff00 100%);
  animation: scaleGradient4 4s ease;
}

@keyframes scaleGradient4 {
  0% {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  15% {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  90% {
    width: 3vw;
    height: 4vw;
    left: 45vw;
    top: 93vh;
  }
  100% {
    width: 3vw;
    height: 4vw;
    left: 45vw;
    top: 93vh;
  }
}

#opener2Text {
  color: red;
  left: 39vw;
}

#opener3Text {
  color: red;
  left: 42.2vw;
}

#opener4Text {
  color: red;
  animation: scaleText4 3s ease;
  left: 45.7vw;
}

@keyframes scaleText4 {
  0% {
    top: 2vh;
    left: 40vw;
    font-size: 90vh;
  }
  15% {
    top: 2vh;
    left: 40vw;
    font-size: 90vh;
  }
  90% {
    left: 45.7vw;
    top: 95vh;
    font-size: 3vh;
  }
  100% {
    left: 45.7vw;
    top: 95vh;
    font-size: 3vh;
  }
}
