body {
  overflow: hidden;
}

.redWave {
  top: 20vh;
  background-color: #ff0000;
  margin-left: -25vw;
  height: 20vh;
}

.move_right {
  position: absolute;
  width: 30vw;
  transition: all 1s ease-in-out;
}

#axisRedWave:hover .move_right{
    transform: translate(20vw,0);
}

.pinkSquareUp {
  height: 10vh;
  top: 60vh;
  left: 75vw;
  background-color: #FF00DD;
  z-index: 2;
}

.move_up {
  position: absolute;
  width: 20vh;
  transition: all 2s ease-in-out;
}

#axisPinkSquare:hover .move_up{
    transform: translate(0,-12vh);
}

.pinkSquareDown {
  height: 10vh;
  top: 70vh;
  left: 75vw;
  background-color: #FF00DD;
  z-index: 2;
}

.move_down {
  position: absolute;
  width: 20vh;
  transition: all 2s ease-in-out;
}

#axisPinkSquare:hover .move_down{
    transform: translate(0,12vh);
}

.orangeFigure {
  position: absolute;
  width: 5vw;
  height: 20vh;
  top: 60vh;
  right: 0;
  background-color: #FF6100;
}

.blueFigure {
  top: 40vh;
  left: 20vw;
}

.move_right2 {
  position: absolute;
  width: 20vw;
  transition: all 3s ease-in-out;
}

#axisBlueFigure:hover .move_right2{
  transform: translate(-20vw,0) rotate(360deg);
}

.greenFigure {
  position: absolute;
  height: 25vh;
  background-color: #00FF00;
  top: 15vh;
  right: 0;
  animation: scale 3s infinite ease;
  z-index: 1;
}

@keyframes scale {
  0% {
    width: 25vw;
  }
  20% {
    width: 22vw;
  }
  40% {
    width: 25vw;
  }
  70% {
    width: 15vw;
  }
  100% {
    width: 25vw;
  }
}

.pinkEllipse {
  width: 20vw;
  height: 10vw;
  top: 30vh;
  left: 40vw;
  position: absolute;
  background-color: #FF00DD;
  border-radius: 50%;
}

.redTriangleUp {
  position: absolute;
  top: 80vh;
  left: 5vw;
  width: 20vw;
}

.redTriangleDown {
  position: absolute;
  top: 80vh;
  left: 5vw;
  z-index: 1;
  width: 20vw;
}

.move_right3 {
  position: absolute;
  transition: all 3s ease-in-out;
}

#axisRedTriangleDown:hover .move_right3{
  transform: translate(15vw,0);
}




p {
  position: absolute;
  font-size: 9vh;
  font-family: 'Slabo 27px', serif;
}

a {
  position: absolute;
  text-decoration: none;
  font-size: 9vh;
  font-family: 'Slabo 27px', serif;
}

#yellowFalse {
  color: #ff0000;
  left: 6vw;
  top: 20vh;
}

#white {
  color: white;
  top: 30vh;
  left: 6vw;
}

#pink {
  color: #FF00DD;
  top: 63vh;
  left: 76vw;
  z-index: 1;
}

#orange {
  color: #FF6100;
  transform: rotate(90deg);
  z-index: 1;
  top: 60vh;
  right: -4vw;
  animation: move_right_left 3s infinite ease;
}

@keyframes move_right_left {
  0% {
    top: 53vh;
  }
  50% {
    top: 77vh;
  }
  100% {
    top: 53vh;
  }
}

#blue{
  color: #0000FF;
  top: 55vh;
  left: 26vw;
}

#blueFalse {
  color: #FF00DD;
  top: 55vh;
  left: 6vw;
  z-index: 1;
}

#green {
  color: #00FF00;
  top: 23vh;
  transform: rotate(90deg);
  right: 15vw;
  animation: move_right_left2 3s infinite ease;
}

/*@keyframes move_right_left2 {
  0% {
    right: 3vw;
  }
  50% {
    right: 8vw;
  }
  100% {
    right: 3vw;
  }
}*/

#ahh {
  color: #FFED00;
  top: 35vh;
  left: 49vw;
  z-index: 2;
  animation: opacity 3s infinite ease;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#llow {
  color: #FFED00;
  top: 35vh;
  left: 49vw;
  animation: opacityOpposite 3s infinite ease;
}

@keyframes opacityOpposite {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#ye {
  color: #FFED00;
  top: 35vh;
  left: 44vw;
}

#red {
  color: #ff0000;
  top: 82vh;
  left: 15vw;
}

#greenFalse {
  color: #FF6100;
  top: 15vh;
  left: 30vw;
  animation: rotateY 5s infinite ease;
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

#redFalse {
  transform: rotateX(45deg);
  color: #0000FF;
  animation: rotate 3s infinite ease;
  top: 60vh;
  left: 60vw;
}

#redFalse:hover {
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);

  }
  100% {
    transform: rotate(0deg);
  }
}





.menubar {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 7vh;
  z-index: 1;
  background-image: url(../images/gradient.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.marquee {
  display: block;
  width: 100%;
  white-space: nowrap;
  z-index: 1;
  top: -2vh;
}

.marquee span {
  /*-webkit-background-clip: text;
  color: transparent;*/
  line-height: 7vh;
  color: white;
  font-size: 7vh;
  display: inline-block;
  padding-left: 100%;
  animation: scroll 5s infinite linear reverse;
}

.marquee:hover span {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0)
  }
}

.pinkSprinklers {
  width: 16vw;
  position: fixed;
  top: 58vh;
  left: 72vw;
  display: none;
}

.pinkAnimation:hover .pinkSprinklers {
  display: block;
}

.results {
  width: 25vw;
  margin-top: 92vh;
  margin-left: 37vw;
  box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.3);
  z-index: 6;
  position: absolute;
}

.opener {
  position: absolute;
  z-index: 4;
}

.openerText {
  top: 95vh;
  font-size: 3vh;
  z-index: 7;
}
