.opener6 {
  background: linear-gradient(to bottom, #00ff2e 0%,#f2ff00 100%);
  animation: moveGradient 6s ease;
}

@keyframes moveGradient {
  0% {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  70% {
    top: 0;
  }
  100% {
    top: -100vh;
  }
}

#opener2Text {
  color: #00FF00;
  left: 39vw;
}

#opener3Text {
  color: #FFED00;
  left: 42.2vw;
}

#opener4Text {
  color: red;
  left: 45.7vw;
}

#opener5Text {
  color: #FF6100;
  left: 49vw;
}

#opener6Text {
  color: red;
  animation: moveText 2s ease;
  left: 52.5vw;
}

@keyframes moveText {
  0% {
    top: -5vh;
    left: 46vw;
    font-size: 90vh;
  }
  70% {
    top: -6vh;
  }
  100% {
    top: -100vh;
    font-size: 90vh;
    left: 44vw;
  }
}

.opener2_1 {
  background: linear-gradient(to bottom, #ff00e1 0%,#c100f2 100%);
  width: 3vw;
  height: 4vw;
  left: 38vw;
  top: 93vh;
}

.opener3_1 {
  background: linear-gradient(to bottom, #c100f2 0%,#0004ff 100%);
  width: 3vw;
  height: 4vw;
  left: 41vw;
  top: 93vh;
}

.opener4_1 {
  background: linear-gradient(to bottom, #0008ff 0%,#00f6ff 100%);
  width: 3vw;
  height: 4vw;
  left: 45vw;
  top: 93vh;
}

.opener5_1 {
  background: linear-gradient(to bottom, #00ffff 0%,#00ff2e 100%);
  width: 3vw;
  height: 4vw;
  left: 48vw;
  top: 93vh;
}

.opener6_1 {
  background: linear-gradient(to bottom, #00ff2e 0%,#f2ff00 100%);
  width: 3vw;
  height: 4vw;
  left: 51vw;
  top: 93vh;
}
