body {
  overflow: hidden;
}

.redWave {
  top: 20vh;
  background-color: #ff0000;
  margin-left: -25vw;
  height: 20vh;
}

.move_right {
  position: absolute;
  width: 30vw;
  transition: all 1s ease-in-out;
}

#axisRedWave:hover .move_right{
    transform: translate(20vw,0);
}

.pinkSquare {
  height: 20vh;
  top: 40vh;
  left: 30vw;
  background-color: #FF00DD;
  z-index: 2;
}

.move_down {
  position: absolute;
  width: 20vh;
  transition: all 3s ease-in-out;
}

#axisPinkSquare:hover .move_down{
    transform: translate(0,20vh);
}

.orangeFigure {
  position: absolute;
  width: 10vw;
  height: 10vh;
  top: 90vh;
  left: 20vw;
  background-color: #FF6100;
}

.blueFigure {
  top: 55vh;
  left: 54vw;
}

.move_right2 {
  position: absolute;
  width: 20vw;
  transition: all 3s ease-in-out;
}

#axisBlueFigure:hover .move_right2{
  transform: translate(20vw,0) rotate(360deg);
}

.greenFigure {
  position: absolute;
  width: 10vw;
  height: 40vh;
  background-color: #00FF00;
  right: 0;
  animation: scale 3s infinite ease;
  z-index: 1;
}

.redTriangleUp {
  position: absolute;
  top: 10vh;
  left: 40vw;
  width: 20vw;
}

.redTriangleDown {
  top: 10vh;
  left: 40vw;
  z-index: 1;
  width: 20vw;
}

.move_right3 {
  position: absolute;
  transition: all 3s ease-in-out;
}

#axisRedTriangleDown:hover .move_right3{
  transform: translate(15vw,0);
}

.greenSquare {
  position: absolute;
  background-color: #00FF00;
  width: 5vw;
  height: 5vw;
  animation: rotateX 5s infinite ease;
  top: 65vh;
  left: 10vw;
}

.pinkEllipse {
  width: 20vw;
  height: 10vw;
  top: 30vh;
  left: 65vw;
  position: absolute;
  background-color: #FF00DD;
  border-radius: 50%;
}


p {
  position: absolute;
  font-size: 9vh;
  font-family: OfficinaSerifBookITC;
}

a {
  position: absolute;
  text-decoration: none;
  font-size: 9vh;
  font-family: OfficinaSerifBookITC;
}

#yellowFalse {
  color: #ff0000;
  left: 6vw;
  top: 20vh;
}

#white {
  color: white;
  top: 30vh;
  left: 6vw;
}

#pink {
  color: #FF00DD;
  top: 40vh;
  left: 31vw;
  z-index: 1;
}

#orange {
  color: #FF6100;
  z-index: 1;
  top: 89vh;
  animation: move_right_left 3s infinite ease;
}

#blue{
  color: #0000FF;
  top: 70vh;
  left: 60vw;
}

#blueFalse {
  color: #FF00DD;
  top: 70vh;
  left: 80vw;
  z-index: 1;
}

#green {
  color: #00FF00;
  top: 8vh;
  animation: move_right_left2 3s infinite ease;
  transform: rotate(-90deg);
}

#ahh {
  color: #FFED00;
  top: 35vh;
  left: 73vw;
  z-index: 2;
  animation: opacity 3s infinite ease;
}

#llow {
  color: #FFED00;
  top: 35vh;
  left: 73vw;
  animation: opacityOpposite 3s infinite ease;
}

#ye {
  color: #FFED00;
  top: 35vh;
  left: 69vw;
}

#red {
  color: #ff0000;
  top: 12vh;
  left: 50vw;
}


@keyframes move_right_left {
  0% {
    left: 12vw;
  }
  50% {
    left: 24vw;
  }
  100% {
    left: 12vw;
  }
}

@keyframes move_right_left2 {
  0% {
    right: 3vw;
  }
  50% {
    right: 8vw;
  }
  100% {
    right: 3vw;
  }
}

@keyframes scale {
  0% {
    height: 40vh;
  }
  20% {
    height: 38vh;
  }
  40% {
    height: 40vh;
  }
  70% {
    height: 25vh;
  }
  100% {
    height: 40vh;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityOpposite {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateX {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.pinkSprinklers {
  width: 16vw;
  position: fixed;
  top: 35vh;
  left: 27vw;
  display: none;
}

.pinkAnimation:hover .pinkSprinklers {
  display: block;
}

/*.rainbowOpener1 {
  z-index: 3;
  width: 100vw;
  top: 0;
  perspective: 150px;
  position: absolute;
}

.rainbowOpener2 {
  padding: 50px;
  height: 50vh;
  background-color: blue;
  transform: rotateX(45deg);
}

.rainbowCloser1 {
  z-index: 3;
  width: 100vw;
  top: 40vh;
  perspective: 150px;
  position: absolute;
  transform: rotate(180deg);
}

.rainbowCloser2 {
  height: 50vh;
  background-color: red;
  transform: rotateX(45deg);
}*/
